body {
  background-color: rgb(243, 240, 203);
}

body h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-size: 2.25em;
  color: black;
}
body h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-size: 1.5em;
}
body h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-size: 1.25em;
}
body p {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  color: black;
  font-weight: 400;
}

header {
  background-color: rgb(56, 111, 76);
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 1;
}

.main-navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-weight: 700;
  font-size: 18px;
}
.main-navigation ul {
  list-style-type: none;
}
.main-navigation a {
  color: rgb(243, 240, 203);
  text-decoration: none;
}

.secondary-nav p {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-weight: 700;
  font-size: 18px;
}

.secondary-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 40px;
  margin-bottom: 10px;
}
.secondary-nav .language {
  display: flex;
  padding-right: 10px;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.main-navigation .main-logo {
  position: absolute;
  left: 40px;
  top: -60px;
  max-width: 30vw;
  z-index: 10;
}
.main-navigation .main-logo img {
  width: 100%;
  height: 100%;
}

.navigation-links {
  margin: 0 40px;
}
.navigation-links ul {
  display: flex;
}
.navigation-links li {
  margin-left: 20px;
}
.navigation-links a:hover {
  text-decoration: underline;
  color: rgb(242, 208, 15);
}
.navigation-links a:active {
  color: rgb(242, 208, 15);
}

.button-web {
  background-color: rgb(243, 240, 203);
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  padding: 10px 40px;
  border-radius: 15px;
  text-align: center;
  margin: 4px 2px;
  border-style: solid;
  border-color: rgb(56, 111, 76);
  color: rgb(56, 111, 76);
}

.donate-btn {
  background-color: rgb(242, 208, 15);
}

.button-web:hover {
  background-color: rgb(56, 111, 76);
  color: rgb(243, 240, 203);
  cursor: pointer;
  border-color: rgb(243, 240, 203);
  border-width: 3px;
}

.banner-section {
  position: relative;
}

.hero-image-wrapper {
  max-height: 800px;
  position: relative;
  z-index: -1;
}
.hero-image-wrapper img {
  height: 100%;
  width: 100%;
}

.text-over-image {
  position: absolute;
  background-color: rgba(243, 240, 203, 0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 30px;
  transform: translate(-50%, -50%);
}

.our-work {
  background-color: rgb(56, 111, 76);
  background-image: url("/resources/background-uneven.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}
.our-work .our-work-text {
  padding: 20px;
}
.our-work .our-work-text h1 {
  color: rgb(243, 240, 203);
  text-align: center;
}
.our-work .our-work-text p {
  color: rgb(243, 240, 203);
  max-width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(243, 240, 203);
}

.card {
  background-color: rgb(243, 240, 203);
  border: 2px solid rgb(56, 111, 76);
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.card .card-image-wrapper {
  flex: 1;
  max-height: 200px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.card .card-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.card h2 {
  color: rgb(56, 111, 76);
}
.card .card-title {
  text-align: center;
  margin: 10px;
  background-color: rgb(251, 250, 244);
  border: 1px solid rgb(56, 111, 76);
  border-radius: 10px;
}
.card .read-more {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
.card .read-more span {
  padding: 10px 20px;
}

.take-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(122, 111, 2);
  min-height: 500px;
}
.take-action h1, .take-action p {
  color: rgb(243, 240, 203);
  text-align: center;
  max-width: 60%;
  margin: 10px auto;
}
.take-action .center-buttons {
  display: flex;
  justify-content: center;
}

.get-involved {
  background-color: rgb(56, 111, 76);
}

.get-involved-text h1, .get-involved-text p {
  color: rgb(243, 240, 203);
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.get-involved-wrapper {
  display: flex;
}
.get-involved-wrapper .get-involved-options {
  display: flex;
  flex-direction: column;
}
.get-involved-wrapper .get-involved-options .get-involved-flex {
  display: flex;
  flex-direction: column;
}
.get-involved-wrapper .get-involved-options .get-involved-flex .icon-wrapper {
  display: flex;
  flex-direction: row;
}
.get-involved-wrapper .get-involved-options .get-involved-flex p {
  text-align: left;
  color: rgb(243, 240, 203);
}
.get-involved-wrapper .get-involved-options .get-involved-flex .button-web {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}/*# sourceMappingURL=stylesheet-core.css.map */