body {
  background-color: rgb(243, 240, 203);
}

body h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-size: 2.25em;
  color: black;
}
body h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-size: 1.5em;
}
body h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-size: 1.25em;
}
body h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-size: 1.125em;
}
body p {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  color: black;
  font-weight: 400;
}

header {
  background-color: rgb(56, 111, 76);
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 1;
}

.main-navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-weight: 700;
  font-size: 18px;
}
.main-navigation ul {
  list-style-type: none;
}
.main-navigation a {
  color: rgb(243, 240, 203);
  text-decoration: none;
}

.secondary-nav p {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  font-weight: 700;
  font-size: 18px;
}

.secondary-nav {
  display: flex;
  justify-content: flex-end;
  margin: 0 40px;
  margin-bottom: 10px;
}
.secondary-nav .language {
  display: flex;
  padding-right: 10px;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.main-navigation .main-logo {
  position: absolute;
  left: 40px;
  top: -60px;
  max-width: 30vw;
  z-index: 10;
}
.main-navigation .main-logo img {
  width: 100%;
  height: 100%;
}

.navigation-links {
  margin: 0 40px;
}
.navigation-links ul {
  display: flex;
}
.navigation-links li {
  margin-left: 20px;
}
.navigation-links a:hover {
  text-decoration: underline;
  color: rgb(242, 208, 15);
}
.navigation-links a:active {
  color: rgb(242, 208, 15);
}

.button-web {
  background-color: rgb(243, 240, 203);
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 1em;
  color: rgb(243, 240, 203);
  padding: 10px 40px;
  border-radius: 15px;
  text-align: center;
  margin: 4px 2px;
  border-style: solid;
  border-color: rgb(56, 111, 76);
  color: rgb(56, 111, 76);
}

.donate-btn {
  background-color: rgb(242, 208, 15);
}

.button-web:hover {
  background-color: rgb(56, 111, 76);
  color: rgb(243, 240, 203);
  cursor: pointer;
  border-color: rgb(243, 240, 203);
  border-width: 3px;
}

.banner-section {
  position: relative;
}

.hero-image-wrapper {
  max-height: 800px;
  position: relative;
  z-index: -1;
}
.hero-image-wrapper img {
  height: 100%;
  width: 100%;
}

.text-over-image {
  position: absolute;
  background-color: rgba(243, 240, 203, 0.5);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 30px;
  transform: translate(-50%, -50%);
}

.our-work {
  background-color: rgb(56, 111, 76);
  background-image: url("/resources/background-uneven.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}
.our-work .our-work-text {
  padding: 20px;
}
.our-work .our-work-text h1 {
  color: rgb(243, 240, 203);
  text-align: center;
}
.our-work .our-work-text p {
  color: rgb(243, 240, 203);
  max-width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(243, 240, 203);
}

.card {
  background-color: rgb(243, 240, 203);
  border: 2px solid rgb(56, 111, 76);
  width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.card .card-image-wrapper {
  flex: 1;
  max-height: 200px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.card .card-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.card h2 {
  color: rgb(56, 111, 76);
}
.card .card-title {
  text-align: center;
  margin: 10px;
  background-color: rgb(251, 250, 244);
  border: 1px solid rgb(56, 111, 76);
  border-radius: 10px;
}
.card .read-more {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
.card .read-more span {
  padding: 10px 20px;
}

.take-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(122, 111, 2);
  min-height: 500px;
}
.take-action h1, .take-action p {
  color: rgb(243, 240, 203);
  text-align: center;
  max-width: 60%;
  margin: 10px auto;
}
.take-action .center-buttons {
  display: flex;
  justify-content: center;
}

.get-involved {
  background-color: rgb(56, 111, 76);
  min-height: 900px;
}

.get-involved-text h1, .get-involved-text p {
  color: rgb(243, 240, 203);
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
  padding: 30px;
}

.get-involved-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
}
.get-involved-wrapper .image-wrapper {
  max-width: 50vw;
  margin-right: 80px;
}
.get-involved-wrapper .image-wrapper img {
  border: 10px solid rgb(243, 240, 203);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.get-involved-wrapper .get-involved-options {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 100px 0 100px;
}
.get-involved-wrapper .get-involved-options .icon-wrapper {
  display: flex;
  flex-direction: row;
}
.get-involved-wrapper .get-involved-options .get-involved-flex {
  display: flex;
  flex-direction: column;
}
.get-involved-wrapper .get-involved-options .get-involved-flex p {
  text-align: left;
  color: rgb(243, 240, 203);
}
.get-involved-wrapper .get-involved-options .get-involved-flex span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gallery-title {
  color: rgb(56, 111, 76);
  text-align: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 50px;
  margin: 50px auto 50px;
  max-width: 1650px;
}
.gallery-container div {
  padding: 50%;
  position: relative;
  overflow: hidden;
}
.gallery-container div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  transition: 0.6s;
}

.footer-nav div h4:hover, .footer-nav div p:hover {
  text-decoration: underline;
  color: rgb(242, 208, 15);
}

footer {
  background-color: rgb(56, 111, 76);
}
footer ul {
  list-style-type: none;
}
footer a {
  color: rgb(243, 240, 203);
  text-decoration: none;
}
footer .footer-menu {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
}
footer .footer-menu p {
  color: rgb(243, 240, 203);
}
footer .footer-menu .footer-nav {
  display: flex;
  justify-content: space-evenly;
  flex: 0.7;
  margin-top: 50px;
  margin-left: 20px;
}
footer .footer-menu .logo-footer {
  margin-top: 70px;
  margin-right: 100px;
}
footer .footer-menu .logo-footer .logo-footer-wrapper {
  max-width: 8vw;
  margin-left: 60px;
}
footer .footer-menu .logo-footer .logo-footer-wrapper img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
footer .footer-menu .logo-footer .footer-contact-us {
  display: flex;
}
footer .footer-menu .logo-footer .footer-contact-us span {
  margin-left: 10px;
}

.social-media {
  background-color: rgb(243, 240, 203);
  display: flex;
  justify-content: space-evenly;
}
.social-media .terms {
  display: flex;
}
.social-media .icons {
  display: flex;
  justify-content: flex-start;
}
.social-media p {
  color: rgb(56, 111, 76);
}

.input-container {
  font-family: "Cabin", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: rgb(243, 240, 203); /* IE10 */
  display: flex;
  flex-direction: column;
  min-height: 150px;
  max-width: 500px;
  background-color: rgb(243, 240, 203);
  border-radius: 10px;
  margin: 0 100px 30px auto;
  justify-content: center;
}
.input-container p {
  color: rgb(56, 111, 76);
  text-align: center;
}
.input-container .input {
  text-align: center;
}
.input-container .input i {
  border-radius: 0 5px 5px 0;
}
.input-container .input .icon {
  max-height: 30px;
  padding: 10px;
  background: rgb(242, 208, 15);
  color: rgb(56, 111, 76);
  min-width: 50px;
  text-align: center;
  cursor: pointer;
}
.input-container .input .icon :hover {
  opacity: 0.9;
}
.input-container .input .input-field {
  min-width: 300px;
  padding: 8px;
  outline: none;
}
.input-container .input .input-field:focus {
  border: 2px solid rgb(56, 111, 76);
}/*# sourceMappingURL=stylesheet-core.css.map */